$sidebarWidth: 20vw;

.HomeComponentContainer {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: minmax(15rem, $sidebarWidth) auto minmax(
      15rem,
      $sidebarWidth
    );
  grid-column-gap: 2rem;

  .Cards {
    max-width: calc(100vw - #{$sidebarWidth * 2});
  }
}
