@import "../../../../scss/schemes";

.QuestionCardContainer {
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px #ccc;
  margin-bottom: 2rem;
  padding: 1rem 2rem;

  .title {
    font-weight: 600;
  }

  .content {
    margin-top: 0.5rem;
  }

  .actions {
    margin-top: 1.5rem;

    button {
      text-transform: unset;
      background: $primary;
    }
  }
}
