@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "./schemes";
@import "./tools.scss";

$backround: $primary;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.CardsContainer {
  $sidebarWidth: 20vw;
  margin-top: 2rem;

  display: grid;
  grid-template-columns: minmax(15rem, $sidebarWidth) auto minmax(
      15rem,
      $sidebarWidth
    );
  grid-column-gap: 2rem;

  .Cards {
    max-width: calc(100vw - #{$sidebarWidth * 2});
  }
}
