@import "../../../scss/schemes";

.QuestionCardContainer {
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px #ccc;
  margin-bottom: 2rem;
  padding: 1rem 2rem;

  .title {
    font-weight: 600;
  }

  .content {
    margin-top: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5rem; /* fallback */
    max-height: 3rem;
  }

  .actions {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      text-transform: unset;
      background: $primary;
      margin-right: 2rem;
    }

    .votes {
      display: flex;

      .count {
        margin-left: 0.5rem;
        font-weight: 600;
      }
    }
  }
}
